<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fishinwater.postcenter">

    <application>
        <activity android:name=".ui.activity.UserCollectPostsActivity" />
        <activity android:name=".ui.activity.UserFavoritePostsActivity" />
        <activity android:name=".ui.activity.UserPostsActivity" />
        <activity android:name=".ui.activity.PostPageActivity" />
        <activity android:name=".ui.activity.PublishPostActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>
